<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/custom.css" type="text/css" />
    <title>Eat da Endangered Animal!</title>
</head>
<body> 
    <h1>
        {{weather[0].description}}
    </h1>
</body>
